# Chapter 10 - Lists

This chapter will introduce one of the most useful built-in type, lists. We will learn more about objects and what can happen when you have more than one name for the same object.

<i>Note: Lists are similar to the `array` in other programming languages. Arrays usually can only hold data of the same type, so there are Integer-Arrays, Float-Arrays, String-Arrays and so on. In Python the `list` can contain a mix of different data-types</i>

***

## A list is a sequence

Like a string, a <b>list</b> is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in a list are called <b>elements</b> or sometimes <b>items</b>.<br>
There are several ways to create a new list; the simplest is to enclose the elements in square brackets `[` and `]`:

In [1]:
[10, 20, 30, 40]

[10, 20, 30, 40]

In [2]:
['crunchy frog', 'ram bladder', 'lark vomit']

['crunchy frog', 'ram bladder', 'lark vomit']

A list within another list is <b>nested<b>.

In [3]:
['spam', 2.0, 5, [10, 20]]

['spam', 2.0, 5, [10, 20]]

A list that contains no elements is called an empty list; you can create one with empty brackets, `[]`.

In [4]:
[]

[]

As you might expect, you can assign list values to variables:

In [5]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []

print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] []

***

## Lists are mutable

The syntax for accessing the elements of a list is the same as for accessing the characters of a string â€” the bracket operator. The expression inside the brackets specifies the index.<br>
Remember that the indices start at `0`:

In [6]:
cheeses[0]

'Cheddar'

Unlike strings, lists are mutable. When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned.

In [7]:
numbers = [42, 123]
numbers[1] = 5
numbers

[42, 5]

<img src="https://i.imgur.com/IvfhVLy.png" title="State Diagram for lists" />

The `in` operator also works on lists.

In [8]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [9]:
'Edam' in cheeses

True

In [10]:
'Brie' in cheeses

False

***

## Traversing a list

The most common way to traverse the elements of a list is with a for loop. The syntax is the same as for strings:

In [11]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

This works well if you only need to read the elements of the list. But if you want to write or update the elements, you need the indices. A common way to do that is to combine the built-in functions `range` and `len`:

In [12]:
numbers = [42, 123]

for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2

numbers

[84, 246]

Although a list can contain another list, the nested list still counts as a single element. The length of this list is four:

In [13]:
some_list = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
print(len(some_list))

4

***

## List operations

The `+` operator concatenates lists:

In [14]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b

c

[1, 2, 3, 4, 5, 6]

The `*` operator repeats a list a given number of times:

In [15]:
[0] * 4

[0, 0, 0, 0]

In [16]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

***

## List slices

The slice operator also works on lists:

In [17]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

t[1:3]

['b', 'c']

In [18]:
t[:4]

['a', 'b', 'c', 'd']

In [19]:
t[3:]

['d', 'e', 'f']

If you omit the first index, the slice starts at the beginning. If you omit the second, the slice goes to the end. So if you omit both, the slice is a copy of the whole list.

In [20]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

Since lists are mutable, it is often useful to make a copy before performing operations that
modify lists.<br>
<br>
A slice operator on the left side of an assignment can update multiple elements:

In [21]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
t

['a', 'x', 'y', 'd', 'e', 'f']

***

## List methods

Python provides methods that operate on lists. For example, `append` adds a new element to the end of a list:

In [22]:
t = ['a', 'b', 'c']
t.append('d')
t

['a', 'b', 'c', 'd']

`extend` takes a list as an argument and appends all of the elements:

In [23]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e']

This example leaves t2 unmodified.<br>
<br>
`sort` arranges the elements of the list from low to high:

In [24]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

Most list methods are <b>void</b>; they modify the list and return `None`. If you accidentally write `t = t.sort()`, you will be disappointed with the result.

In [25]:
t = ['d', 'c', 'e', 'b', 'a']
t = t.sort()
print(t)
type(t)

None

NoneType

***

## Map, filter and reduce
To add up all the numbers in a list, you can use a loop like this:

In [26]:
def add_all(t):
    total = 0
    for x in t:
        total += x
    return total

`total` is initialized to `0`. Each time through the loop, `x` gets one element from the list. The `+=` operator provides a short way to update a variable.

Adding up the elements of a list is such a common operation that Python provides it as a built-in function, `sum`:

In [27]:
t = [1, 2, 3]
sum(t)

6

An operation like this that combines a sequence of elements into a single value is sometimes called <b>reduce</b>.

Sometimes you want to traverse one list while building another. For example, the following function takes a list of strings and returns a new list that contains capitalized strings:

In [28]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

An operation like `capitalize_all` is sometimes called a <b>map</b> because it "maps" a function (in this case the method `capitalize`) onto each of the elements in a sequence.

Another common operation is to select some of the elements from a list and return a sublist. For example, the following function takes a list of strings and returns a list that contains only the uppercase strings:

In [29]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

`isupper` is a string method that returns `True` if the string contains only upper case letters.<br>
<br>
An operation like `only_upper` is called a <b>filter</b> because it selects some of the elements and filters out the others.<br>
<br>
Most common list operations can be expressed as a combination of map, filter and reduce.

***

## Deleting elements
There are several ways to delete elements from a list. If you know the index of the element you want, you can use `pop`:

In [30]:
t = ['a', 'b', 'c']
x = t.pop(1)

In [31]:
t

['a', 'c']

In [32]:
x

'b'

`pop` modifies the list and returns the element that was removed. If you do not provide an index, it deletes and returns the last element.<br>
<br>
If you do not need the removed value, you can use the `del` operator:

In [33]:
t = ['a', 'b', 'c']
del t[1]
t

['a', 'c']

If you know the element you want to remove (but not the index), you can use `remove`:

In [34]:
t = ['a', 'b', 'c']
t.remove('b')
t

['a', 'c']

The return value from `remove` is `None`.

To remove more than one element, you can use `del` with a slice index:

In [35]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t

['a', 'f']

As usual, the slice selects all the elements up to but not including the second index.

***

## Lists and strings
A string is a sequence of characters and a list is a sequence of values, but a list of characters
is not the same as a string. To convert from a string to a list of characters, you can use `list`:

In [36]:
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

Because `list` is the name of a built-in function, you should avoid using it as a variable name. I also avoid `l` because it looks too much like `1`. So that is why I use `t`.<br>
<br>
The `list` function breaks a string into individual letters. If you want to break a string into words, you can use the `split` method:

In [37]:
s = 'pining for the fjords'
t = s.split()
t

['pining', 'for', 'the', 'fjords']

An optional argument called a <b>delimiter</b> specifies which characters to use as word boundaries. The following example uses a hyphen as a delimiter:

In [38]:
s = 'spam-spam-spam'
delimiter = '-'
t = s.split(delimiter)
t

['spam', 'spam', 'spam']

`join` is the inverse of `split`. It takes a list of strings and concatenates the elements. `join` is a string method, so you have to invoke it on the delimiter and pass the list as a parameter:

In [39]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
s = delimiter.join(t)
s

'pining for the fjords'

In this case the delimiter is a space character, so `join` puts a space between words. To concatenate strings without spaces, you can use the empty string, `''`, as a delimiter.

In [40]:
t = ['pining', 'for', 'the', 'fjords']
empty_string = ''
s = empty_string.join(t)
s

'piningforthefjords'

***

## Objects and values
If we run these assignment statements:

In [41]:
a = 'banana'
b = 'banana'

We know that `a` and `b` both refer to a string, but we do not know whether they refer to the <i>same</i> string. There are two possible states, as shown below:<br>
<img src="https://i.imgur.com/6Yxszvm.png" title="Possible Object references" /><br>
In one case, `a` and `b` refer to two different objects that have the same value. In the second case, they refer to the same object.<br>
To check whether two variables refer to the same object, you can use the `is` operator.

In [42]:
a = 'banana'
b = 'banana'
a is b

True

In this example, Python only created one string object, and both `a` and `b` refer to it. But when you create two lists, you get two objects:

In [43]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

So the state diagram looks like this:<br>
<img src="https://i.imgur.com/v34Mq9K.png" title="Different objects" /><br>
In this case we would say that the two lists are <b>equivalent</b>, because they have the same elements, but not identical, because they are not the same object. If two objects are identical, they are also equivalent, but if they are equivalent, they are not necessarily identical.<br>
Until now, we have been using "object" and "value" interchangeably, but it is more precise to say that an object has a value. If you evaluate `[1, 2, 3]`, you get a list object whose value is a sequence of integers. If another list has the same elements, we say it has the same value, but it is not the same object.

***

## Aliasing
If a refers to an object and you assign `b = a`, then both variables refer to the same object:

In [44]:
a = [1, 2, 3]
b = a
b is a

True

The state diagram looks like this:<br>
<img src="https://i.imgur.com/Jh79tT4.png" title="Same object" /><br>
The association of a variable with an object is called a <b>reference</b>. In this example, there are two references to the same object.<br>
An object with more than one reference has more than one name, so we say that the object is <b>aliased</b>.<br>
If the aliased object is mutable, changes made with one alias affect the other:

In [45]:
b[0] = 42
a
[42, 2, 3]

[42, 2, 3]

Although this behavior can be useful, it is error-prone. In general, it is safer to avoid aliasing when you are working with mutable objects.<br>
<br>
For immutable objects like strings, aliasing is not as much of a problem. In this example:

In [46]:
a = 'banana'
b = 'banana'

It almost never makes a difference whether a and b refer to the same string or not.

***

## List arguments
When you pass a list to a function, the function gets a reference to the list. If the function modifies the list, the caller sees the change. For example,`delete_head` removes the firstelement from a list:

In [47]:
def delete_head(t):
    del t[0]

In [48]:
letters = ['a', 'b', 'c']
delete_head(letters)
letters

['b', 'c']

The parameter `t` and the variable letters are aliases for the same object. The stack diagram looks like this:<br>
<img src="https://i.imgur.com/tRzIBnA.png" title="source: imgur.com" /><br>
Since the list is shared by two frames, I drew it between them.<br>
It is important to distinguish between operations that modify lists and operations that create
new lists. For example, the `append` method modifies a list, but the `+` operator creates a
new list.<br>
Here is an example using append:

In [49]:
t1 = [1, 2]
t2 = t1.append(3)

In [50]:
t1

[1, 2, 3]

In [51]:
print(t2)

None

The return value from `append` is `None`.<br>
<br>
Here is an example using the `+` operator:

In [52]:
t3 = t1 + [4]

In [53]:
t1

[1, 2, 3]

In [54]:
t3

[1, 2, 3, 4]

The result of the operator is a new list, and the original list is unchanged.<br>
<br>
This difference is important when you write functions that are supposed to modify lists. For example, this function <i>does not</i> delete the head of a list:

In [55]:
def bad_delete_head(t):
    t = t[1:] # WRONG!

The slice operator creates a new list and the assignment makes `t` refer to it, but that does not affect the caller.

In [56]:
t4 = [1, 2, 3]
bad_delete_head(t4)
t4

[1, 2, 3]

At the beginning of `bad_delete_head`, `t` and `t4` refer to the same list. At the end, `t` refers to a new list, but `t4` still refers to the original, unmodified list.<br>
<br>
An alternative is to write a function that creates and returns a new list. For example, `tail` returns all but the first element of a list:

In [57]:
def tail(t):
    return t[1:]

This function leaves the original list unmodified. Here is how it is used:

In [58]:
letters = ['a', 'b', 'c']
rest = tail(letters)
rest

['b', 'c']

***

## Debugging
Careless use of lists (and other mutable objects) can lead to long hours of debugging. Here are some common pitfalls and ways to avoid them:
1. Most list methods modify the argument and return `None`. This is the opposite of the string methods, which return a new string and leave the original alone. <br> If you are used to writing string code like this:<br><br>`word = word.strip()`<br><br>It is tempting to write list code like this:<br><br>`t = t.sort() # WRONG!`<br><br>Because sort returns `None`, the next operation you perform with `t` is likely to fail.<br>Before using list methods and operators, you should read the documentation carefully and then test them in interactive mode.
<br><br>
2. Pick an idiom and stick with it.<br> Part of the problem with lists is that there are too many ways to do things. For example, to remove an element from a list, you can use `pop`, `remove`, `del`, or even a slice assignment.<br>To add an element, you can use the `append` method or the `+` operator. Assuming that `t` is a list and `x` is a list element, these are correct:<br><br>`t.append(x)`<br>`t = t + [x]`<br>`t += [x]`<br><br>And these are wrong:<br><br>`t.append([x]) # WRONG!`<br>`t = t.append(x) # WRONG!`<br>`t + [x] # WRONG!`<br>`t = t + x # WRONG!`<br><br>Try out each of these examples in interactive mode to make sure you understand what they do. Notice that only the last one causes a runtime error; the other three are legal, but they do the wrong thing.
<br><br>
3. Make copies to avoid aliasing.<br>If you want to use a method like `sort` that modifies the argument, but you need to keep the original list as well, you can make a copy.<br><br>`>>> t = [3, 1, 2]`<br>`>>> t2 = t[:]`<br>`>>> t2.sort()`<br>`>>> t`<br>`[3, 1, 2]`<br>`>>> t2`<br>`[1, 2, 3]`<br><br>In this example you could also use the built-in function `sorted`, which returns a new, sorted list and leaves the original alone.<br><br>`>>> t2 = sorted(t)`<br>`>>> t`<br>`[3, 1, 2]`<br>`>>> t2`<br>`[1, 2, 3]`